services:
  app:
    build:
      context: ./docker/nginx
    ports:
      - "${APP_PORT:-80}:80"
    volumes:
      - ./src:/var/www/html:cached
    networks:
      - main
    depends_on:
      - php
    restart: unless-stopped

  php:
    build:
      context: ./docker/php
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      XDEBUG_CLIENT_HOST: host.docker.internal
    volumes:
      - ./src:/var/www/html:cached
    networks:
      - main
    depends_on:
      - mysql
      - redis
    restart: unless-stopped

  mysql:
    image: mysql:8.2.0
    restart: unless-stopped
    ports:
      - "${DB_PORT:-3306}:3306"
    environment:
      MYSQL_DATABASE: ${DB_NAME:-laravel}
      MYSQL_USER: ${DB_USER:-laravel}
      MYSQL_PASSWORD: ${DB_PASSWORD:-password}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-secret}
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - main
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      retries: 3
      timeout: 5s

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis:/data
    networks:
      - main
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s

networks:
  main:

volumes:
  mysql:
  redis: